<template>
    <div>
        <b-overlay :show="loading" rounded="sm">
            <h3 class="text-center">Add Asset</h3>
            <div class="row">
                <div class="col-md-6">
                    <p class="alert-warning" v-show="status" v-text="status"></p>
                    <p class="alert-warning" v-for="error in errors" v-text="error.join()"></p>
                    <form @submit.prevent="addAsset">
                        <div class="form-group">
                            <label>AssetId</label>
                            <input type="number" class="form-control" v-model="asset.uid" required>
                        </div>
                        <div class="form-group">
                            <label>Price</label>
                            <input type="number" class="form-control" v-model="asset.price" min="1" required>
                        </div>
                        <div class="form-group">
                            <label>Brand</label>
                            <select v-model="selected.manufacture">
                                <option v-for="manufacture in manufactures" :value="manufacture.id">
                                    {{ manufacture.name }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <select v-model="asset.server.id">
                                <option v-for="server in servers" :value="server.id">
                                    {{ server.name }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Modules</label>
                            <div class="form-group" v-for="index in moduleIndex">
                                <select v-model="asset.modules[index]">
                                    <option v-for="module in modules" :value="module">
                                        {{ module.size + ' ' + module.unit + ' ' + module.type}}
                                    </option>
                                </select>
                                <button type="button" class="btn btn-outline-success btn-sm" @click="addModule" v-if="moduleIndex == index">Add Module</button>
                                <button type="button" class="btn btn-outline-danger btn-sm" @click="removeModule(index)" v-if="moduleIndex > 1">Remove Module</button>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Asset</button>
                    </form>
                </div>
            </div>
        </b-overlay>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                loading: true,
                asset: {
                    server: {
                        id: null
                    },
                    modules: []
                },
                manufactures: [],
                servers: [],
                modules: [],
                selected: {
                    manufacture: null
                },
                moduleIndex: 1,
                status: false,
                errors: {}
            }
        },
        mounted() {
            this.loadManufactures();
            this.loadModules();
        },
        watch: {
            selected: {
                handler: function () {
                    this.loadServers();
                },
                deep: true
            }
        },
        methods: {
            addAsset() {
                this.loading = true;
                this.asset.modules = this.asset.modules.filter(module => module);
                this.axios
                    .post('/api/assets', this.asset)
                    .then(response => (
                        this.$router.push({name: 'home'})
                    ))
                    .catch(error => this.displayError(error))
                    .finally(() => this.loading = false)
            },

            loadManufactures: function () {
                this.loading = true;
                this.axios
                    .get('/api/servers')
                    .then(response => {
                        this.manufactures = response.data.data;
                        this.selected.manufacture = this.manufactures[0]['id'];
                        this.loading = false;
                    })
                    .catch(error => this.displayError(error))
                    .finally(() => this.loading = false);
            },

            loadModules: function () {
                this.loading = true;
                this.axios
                    .get('/api/modules')
                    .then(response => {
                        this.modules = response.data.data;
                        this.asset.modules[this.moduleIndex] = this.modules[0];
                        this.loading = false;
                    })
                    .catch(error => this.displayError(error))
                    .finally(() => this.loading = false);
            },

            loadServers: function () {
                this.loading = true;
                this.axios
                    .get(`/api/servers/${this.selected.manufacture}`)
                    .then(response => {
                        this.servers = response.data.data;
                        this.asset.server.id = this.servers[0]['id'];
                        this.loading = false;
                    })
                    .catch(error => this.displayError(error))
                    .finally(() => this.loading = false);
            },

            addModule: function () {
                this.moduleIndex++;
                this.asset.modules[this.moduleIndex] = this.modules[0];
            },

            removeModule: function (index) {
                if (this.moduleIndex > 1) {
                    this.asset.modules.splice(index, 1);
                    this.moduleIndex--;
                }
            },

            displayError: function (error) {
                this.status = error.response.data.message;
                this.errors = error.response.data.errors;
            },

        }
    }
</script>
