<template>
    <div>
        <b-overlay :show="loading" rounded="sm">
            <h3 class="text-center">All Assets</h3><br/>
            <p class="alert-warning" v-show="status" v-text="status"></p>
            <p class="alert-warning" v-for="error in errors" v-text="error.join()"></p>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>AssetId</th>
                    <th>Price</th>
                    <th>Server</th>
                    <th>Modules</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="asset in assets" :key="asset.uid">
                    <td>{{ asset.uid }}</td>
                    <td>{{ asset.price }}</td>
                    <td>
                        <p v-for="server in asset.servers">{{ server.server_manufacture.name + ' ' + server.name}}</p>
                    </td>
                    <td>
                        <p v-for="module in asset.modules">{{ module.size + ' ' + module.unit + ' ' + module.type}}</p>
                    </td>
                    <td>{{ asset.created_at }}</td>
                    <td>{{ asset.updated_at }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-danger" @click="deleteAsset(asset.uid)">Delete</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </b-overlay>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                assets: [],
                loading: true,
                status: false,
                errors: {}
            }
        },
        created() {
            this.loading = true;
            this.axios
                .get('/api/assets')
                .then(response => {
                    this.assets = response.data.data;
                    this.loading = false;
                })
                .catch(error => this.displayError(error))
                .finally(() => this.loading = false);
        },
        methods: {
            deleteAsset(uid) {
                this.loading = true;
                this.axios
                    .delete(`/api/assets/${uid}`)
                    .then(response => {
                        let i = this.assets.map(item => item.uid).indexOf(uid); // find index of your object
                        this.assets.splice(i, 1)
                    })
                    .catch(error => this.displayError(error))
                    .finally(() => this.loading = false);
            },

            displayError: function (error) {
                this.status = error.response.data.message;
                this.errors = error.response.data.errors;
            },
        }
    }
</script>
